.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
.vscode
android/.settings
example/android/.settings
example/android/app/.settings
.project
android/.classpath
example/android/app/.classpath
